[2015-05-28 03:14] AdamBJ commented on #120
Or is there a way to separate out the implications in H? I'd like to apply `E_Ass` on the first part of H but I can't do that in the current state.

[2015-05-28 03:14] jeehoonkang commented on #120
As you can see, the goal of `H` is absurd (i.e., you can derive `False` from it). Thus you have to find `st`, `st'`, and an evidence of `(X ::= APlus (AId X) (ANum 5)) / st || st'`. Then you can get by:
`specialize (H st st' EVIDENCE)`.

Jeehoon

[2015-05-28 03:15] alkaza commented on #133
@jeehoonkang yeah i tried that before, it says:

[code]

[2015-05-28 03:15] alkaza commented on #133
Seemed to me

[code]

was the only way, but then I get stuck

[2015-05-28 03:16] AdamBJ commented on #133
@alkaza I didn't get 08_04 either

[2015-05-28 03:18] jeehoonkang commented on #133
[code]

[2015-05-28 03:23] alkaza commented on #133
Stuck on the last case in a same way:

[code]

[2015-05-28 03:25] jeehoonkang commented on #133
Ah sorry; replace `assert (ST'': exists st'', c2 / st || st''). apply IHc2. apply H1.` by `assert (ST'': exists st'', c2 / st' || st''). apply IHc2. apply H1`.

[2015-05-28 03:27] AdamBJ commented on #120
How can I pull `X ::= APlus (AId X) (ANum 5)) / st || st'` out of `H` so I can get EVIDENCE from it though?

[2015-05-28 03:31] alkaza commented on #133
Yaaay, thank you so much! Solved it!

[2015-05-28 03:42] alkaza opened #134 "Assignment 08_19"
The proof of ```Lemma constfold_0plus_sound``` should be somewhat similar to ```Lemma optimize_0plus_bexp_sound``` of the Assignment 08_20. But it appears that it is not.
Could you please explain to me why in  ```Lemma optimize_0plus_bexp_sound``` in ```Case "::="``` we can ```apply optimize_0plus_aexp_sound.``` to solve the subgoal ```aequiv a (optimize_0plus_aexp a)```, but in ```Lemma constfold

[2015-05-28 03:51] alkaza commented on #134
I feel I should use `Theorem fold_constants_aexp_sound` but I don't know how...

[2015-05-28 05:03] jeehoonkang commented on #98
delay submissions are collected.

[2015-05-28 05:03] jeehoonkang commented on #119
submissions are collected.

[2015-05-28 05:37] jaewooklee93 commented on #120
You can provide a counterexample of H with assert.

[2015-05-28 06:41] alkaza commented on #130
I think at the time when most students voted they didn't know that the Algorithms exam is going to be on 18th. I know half of the students in this class are taking Algorithms. Please consider it when voting, having two hard exams at the same day is not nice...

[2015-05-28 06:59] jaewooklee93 commented on #134
Well.. Actually that exercise is the easiest one which can be solved by few tactics. Since we proved the correctness of two optimizations, and fold_constants is a composite of those two, the correctness of fold_constants also follows.

[2015-05-28 07:13] AdamBJ commented on #120
But I already did that, didn't I? The counter example is X = X + 5

[2015-05-28 07:18] alkaza commented on #134
I don't understand :(

[2015-05-28 07:29] alkaza commented on #134
So, I get to here:

[code]

Then what can I do?

[2015-05-28 07:30] fortunist commented on #119
The grader does not work, with a following message.
<code>grader.sh: 20: grader.sh: Syntax error: "(" unexpected</code>

[2015-05-28 07:30] jeehoonkang commented on #119
@fortunist what's your environment? OS, shell, ...

[2015-05-28 07:45] jaewooklee93 commented on #120
Yes, but that is only a half of the answer. As I mentioned before, you have to specify not only the arithmetic expression, but also two memory states st and st'.

[2015-05-28 10:37] jaewooklee93 commented on #134
I mean, we proved the following at the previous exercise.
For all `c`,
(1) `c` and `(constfold_0plus c)` are equivalent.
(2) `c` and `(optimize_0plus_com c)` are equivalent

Thus, we can draw the conclusion using the transitivity of `cequiv`,
`c` and `(optimize_0plus_com (constfold_0plus c))` are equivalent.

Thus, you don't need to `unfold cequiv`, and you can apply `trans_cequiv` just after doin

[2015-05-28 13:28] fortunist commented on #119
It failed in the martini.snucse.org server.
However, it works well in my notebook.

[2015-05-30 01:38] jeehoonkang opened #135 "Assignment 10 status"
Hi all,

- Assignment 10 is issued. Please see the [README](README.md) for more details.

- Please read [Homework.md](Homework.md#how-to-submit) to know how to fetch homework and submit your answer.
    + You have to run `./fetch-homework.sh` to get assignment 10.
    + Do your homework by editing `sf/Assignment10_??.v`.
    + Make sure `make` works without errors.
    + Commit and push to your Gi

[2015-05-30 01:39] jeehoonkang opened #136 "Assignment 11 Status"
Hi all,

- Assignment 10 is issued. Please see the [README](README.md) for more details.

- Please read [Homework.md](Homework.md#how-to-submit) to know how to fetch homework and submit your answer.
    + You have to run `./fetch-homework.sh` to get assignment 11.
    + Do your homework by editing `sf/Assignment11_??.v`.
    + Make sure `make` works without errors.
    + Commit and push to your Gi

[2015-05-30 03:13] minitu opened #137 "Doing induction on hypothesis"
I don't think I still fully grasp the idea of doing induction on hypothesis.
For example, in the proof of `step__eval` of Smallstep.v,

[code]

The hypothesis Hs is in the form of `t ==> t'`, and doing induction on this makes it easy to prove the goal.
But I still don't understand what `induction Hs` does exactly...

[2015-05-30 03:21] sanha commented on #135
I wonder why the due of HW 10 & 11 is 4th June. As you know, this week is very busy week because it is closer to the end of semester, so there are final exams and reports' due on it.

[2015-05-30 03:50] AdamBJ commented on #135
@jeehoonkang Are both assignments due on the 4th? Or are you posting assignment 11 early?

Are these the last two assignments?

[2015-05-31 01:45] jaewooklee93 commented on #137
Inductive set `step (==>)` has three constructors.

One base case,
ST_PlusConstConst : `P (C n1) (C n2) ==> C (n1 + n2)`
and two inductive steps.
ST_Plus1 : `t1 ==> t1'` **→** `P t1 t2 ==> P t1' t2`
ST_Plus2 : `value v1` **→**  `t2 ==> t2'` **→** `P v1 t2 ==> P v1 t2'`

The original goal is `forall n : nat, t' || n -> t || n`. Let's call this goal `Q(t,t')`. After induction on `t ==> t'`, the goal

[2015-05-31 05:56] AdamBJ opened #138 "reverse of multi_R in context"
[code]

I want to apply the reverse of multi_R to H0 in the context, does something like that exist?

[2015-05-31 06:25] jaewooklee93 commented on #138
No, I think it's impossible. There is a case `t2 = t2'`  (#step = 0) under the condition of `t2 ==>* t2'` (#step ∈ Nat) , but then `t2 ==> t2'` (#step = 1) cannot be true.

[2015-05-31 07:16] AdamBJ commented on #138
Ok, I'll stick with induction for that question then, thanks.

[2015-05-31 07:16] #138 closed

[2015-05-31 07:34] minitu commented on #137
@jaewooklee93 Thank you so much!

[2015-05-31 08:04] qkr0990 commented on #135
I Think nf_is_value is needed to solve 10_06.... and the lemma does not exist on Assignment_10_0.. so i import it, but also it needs strong_progress... Is there any other way to solve it without those Lemmas?

and good news is that I finally found the way not blocking the email!

[2015-05-31 08:08] jeehoonkang commented on #135
- @sanha @AdamBJ Yes, the due of both assignments is 4th June. I am sorry that this course is a little bit demanding.
- @AdamBJ I will ask @gilhur .
- @qkr0990 If you need the lemmas, prove them in `Assignment10_06.v` and use it.

[2015-05-31 08:08] qkr0990 commented on #135
NAVER - http://www.naver.com/
--------------------------------------------

qkr0990@naver.com 님께 보내신 메일 <Re: [pl2015] Assignment 10 status (#135)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-31 08:10] jeehoonkang commented on #135
@qkr0990
너의 그 한 마디 말도 그 웃음도 / 나에겐 커다란 의미
너의 그 작은 눈빛도 쓸쓸한 그 뒷모습도 / 나에겐 힘겨운 약속
너의 모든 것은 내게로 와 / 풀리지 않는 수수께끼가 되네
슬픔은 간이역의 코스모스로 피고 / 스쳐 불어온 넌 향긋한 바람
나 이제 뭉게구름 위에 성을 짓고 / 널 향해 창을 내리 바람 드는 창을

[2015-05-31 08:12] qkr0990 commented on #135
@jeehoonkang  I think that I remove the email from the spam list but... I didn't confirm it... I really apologize about that and I think that It would not happen again. Thanks.

[2015-05-31 08:17] qkr0990 commented on #135
Is it Possible to use 'exact FILL_IN_HERE for the lemmas that appears in SmallStep.v but it's prove is just Admit?
I mean If i want to use lemmas that don't exist on Assignment10_00, but i'm tired of proving them again, then can i use exact FILL_IN_HERE for that kinds of lemmas?

[2015-05-31 08:18] jeehoonkang commented on #135
@AdamBJ @jaewooklee93 We will cover `References.v` at the end of this class. The last assignment will be issued 11 June.

[2015-05-31 08:20] jeehoonkang commented on #135
@qkr0990 I am sorry for your inconvenience, but that will complicate my grading procedure. Please copy and paste things for some more assignments. Once more I am sorry, and thank you in advance.

Jeehoon

[2015-05-31 08:52] alkaza commented on #135
I'm sorry, but giving 26 assignments during the final week is crazy... ㅠㅠ

[2015-05-31 09:02] AdamBJ commented on #135
@jeehoonkang I agree with @alkaza that it's crazy to assign so much, especially considering that we're so close to finals. And not only do we have all the assignments to do, we also have to read all the chapters in the textbook that we're covered. I don't understand why we are rushing so much now when everyone is so busy with final week.

Regardless, if the last assignment is going to be issued Ju

[2015-05-31 09:07] alkaza commented on #135
Yes, if HW11 was dues June 11th it would help a lot!

On Sun, May 31, 2015 at 6:02 PM, AdamBJ notifications@github.com wrote:

[2015-05-31 09:19] alkaza commented on #136
Please consider changing the due date of HW11 to June 11th

[2015-05-31 10:34] jeehoonkang commented on #136
- We delayed the due date of assignment 11 to 11th June. Please see the README.
- Assignment 12 will be assigned around 4th June, and it's due 18th June (just before the final).
- Assignment 13 will be assigned around 11th June, and it's due 18th June (just before the final).

Jeehoon

[2015-05-31 10:36] jeehoonkang commented on #135
For due date: #136

[2015-05-31 10:39] jaewooklee93 commented on #136
Is final decided?

[2015-05-31 12:25] alkaza commented on #136
Some people in this class have Algorithms exam on the 18th of June...

[2015-06-01 09:49] jeehoonkang opened #139 "Class canceled: 2nd June"
Tomorrow(2nd June)'s class is canceled.

Jeehoon

[2015-06-01 10:22] jeehoonkang commented on #136
@jaewooklee93 @alkaza We will gather polls til the next Thursday, and decide at the class.

Jeehoon

[2015-06-02 08:35] AdamBJ commented on #116
@jeehoonkang Did you get my email regarding the grading of my Assignment 09 submission?

[2015-06-02 09:14] AdamBJ opened #140 "Assignment 10_08"
I'm  trying to follow the guide for this question: (ie
             ..
       P (C n1) t2 ==>        (by ST_Plus2)
       P (C n1) t2' ==>       (by ST_Plus2)
       P (C n1) t2'' ==>      (by ST_Plus2)
        ..
       P (C n1) (C n2) ==>    (by ST_PlusConstConst)
       C (n1 + n2))

But I'm getting stuck near the end:

[code]
H4 tells us that y mutli-steps to C n2, but I need to show y steps t

[2015-06-02 10:10] alkaza commented on #140
Did you try using `multistep_congr_1` and `multistep_congr_2`?

[2015-06-02 10:40] AdamBJ commented on #140
I'm having trouble with syntax. I'd like to apply the `congr` theorems in `IHeval2`, something like `apply multistep_congr_1 in IHeval2 with (t1:=t1).`, but that doesn't seem to be working. Any suggestions?

[2015-06-02 12:27] jaewooklee93 commented on #140
Yeah, it seems impossible. `y0` and `y` looks useless.

[2015-06-02 12:52] alkaza commented on #140
I meant you should have used those theorems before this goal. Right after Case "P".

[2015-06-03 01:57] AdamBJ commented on #140
What's the difference between starting this assignment by doing induction on `t: tm` vs doing induction on `H: t || n`? In the first case I know we're breaking t down into its two possible cases, and in the second case we're breaking the "evaluates to" relation down to it constituent cases, but in practice they seem to do the same thing: break down to a constant case and a plus case. However, whil

[2015-06-03 06:32] AdamBJ opened #141 "Solving X<>Y"
To solve the proof below I used update_neq:

[code]
 |
V

[code]

 |
V

[code]

And here I'm stuck. How can I show that X!=Y?

[2015-06-03 06:40] alkaza commented on #141
Try `destruct (eq_id_dec X Y).`

[2015-06-03 06:42] AdamBJ commented on #139
Given that we had no lecture on Tuesday, would Professor Hur consider narrowing the scope of the course by one or two chapters, or giving us a break on some of the homework? I feel like going all the way up to References now really puts a big burden on students as it's such a huge amount of material to cover in such a short time. In my case, I'm spending more than double the amount of time studyin

[2015-06-03 06:44] AdamBJ commented on #141
That did it! Thanks:)

[2015-06-03 06:44] #141 closed

[2015-06-03 07:04] jeehoonkang commented on #140
In this case, I think induction on `t` and `H` are equivalent. I am pretty sure you can solve the same problem by induction on `H`, possibly with more complicated context management.

As you may have experienced, `while` construct usually clearly reveals the difference between induction on terms and that on derivations (of step, etc). The execution of a `while` does not depend on the size of the t

[2015-06-03 07:05] jeehoonkang commented on #140
#137 deals with the same question :-)

[2015-06-03 07:06] jeehoonkang commented on #135
Here is the grader: http://sf.snu.ac.kr/jeehoon.kang/pl2015/Assignment10_grader.zip

[2015-06-03 07:34] jaewooklee93 commented on #141
I prefer

unfold update.
simpl. omega.

[2015-06-03 08:34] AdamBJ opened #142 "Meaning of " You can use the following intro pattern: destruct ... as [[? ?] | [? ?]].""
Just like the title says. What exactly does "you can use the following intro pattern mean"? Is there some way to combine ```destruct``` and ```intros```? Or is it saying that at some point early in the proof we should use ```destruct ... as [[? ?] | [? ?]].```?

[2015-06-03 08:39] jaewooklee93 commented on #142
We should use destruct in such way to solve the question simply with proof automation.

[2015-06-03 08:52] AdamBJ commented on #142
Ok, thanks. @jaewooklee93 related to the same question, if I'm trying to prove:

[code]

is there a rule like `multi_refl` I can turn to to solve the goal? It seems like if one is true, then the other should be too.

[2015-06-03 08:59] AdamBJ commented on #140
@jeehoonkang Ok, thanks. Did you get my email regarding the grading of Assignment 09?

[2015-06-03 08:59] #140 closed

[2015-06-03 09:00] alkaza commented on #139
I completely agree with @AdamBJ, this class takes more time than any other class...

[2015-06-03 11:27] AdamBJ commented on #142
I get stuck in a similar place for both of the first questions. Eauto, even with the hints, can't seem to solve it though so I guess it's not possible. I'm not sure what else to try though.

[2015-06-03 11:49] AdamBJ commented on #142
I'm still not 100% sure what to make of `destruct ... as [[? ?] | [? ?]]`. When I destruct `a` (which as far as I can see is the thing to destruct), I can do something like `destruct [a|b|c|d|e]`, but If I try something of the form [[? ?] | [? ? ] ] it says that the pattern expects 5 objects. How can we use something like `destruct ... as [[? ?] | [? ?]]` on an aexp?

[2015-06-03 23:48] Parkdaeyoung commented on #142
You can't do that on aexp. aexap is inductively defined and has 5construcors. That's why coq says expects 5 objects. But `<destruct ... as [[? ?] | [? ?]]>` means there are two cases(or constructors) and both of them have two variable to be named after ?.
BTW, Do case analysis step by step and see the contexts to find the pattern. I'm sure you can find it and know what the pattern is supposed to m

[2015-06-04 01:03] AdamBJ commented on #142
Ok, thanks for the tip. I've tried working the problem a different way, but now I'm getting stuck here:

[code]

I can't solve the goal though. It's so frustrating, because it seems like it should be true by some constructor or another. But neither I nor eauto/auto can find it. Am I on the right track here? Can I solve the goal?

[2015-06-04 01:10] AdamBJ commented on #142
The final three cases of Plus, Minus and Mult all seem to have the same structure. So I guess if I can solve one of them I'll be able to solve all the others (hence the reason we can automate this proof so well).

[2015-06-04 01:36] Parkdaeyoung commented on #142
Did you do `intros. generalize dependent st`? Actually, you don't have to do that.
If you just do `induction on a` from the beginning of the proof or `specialize IHa1 st. specialize IHa2 st` on the current context, you shall use the pattern finally.
Then, each of the final 3 cases becomes 4 sub-cases(total 12sub-cases) and you can prove all of them using simple tacticals.

[2015-06-04 02:25] AdamBJ commented on #142
I got it! Thanks so much for the help. I still have a couple question though:

First, I wanted to use an Ltac to solve these goals:

[code]

This almost works `Ltac rwgoal2 H1:= right; rewrite H; exists(...). eauto.` But I'm not sure how to customize the `(...)` for `APlus`, `AMinus` etc.

My second question is about  `destruct ... as [[? ?] | [? ?]];`. I used the pattern to solve the proof but I'

[2015-06-04 02:47] Parkdaeyoung commented on #142
I think it's hard to use `Ltac` because there are so many distinct cases as you said.
I'd prefer `subst` which works with `eauto` well , such as  `... ; subst ; eauto.`.
(Personally, I use `subst` when the goal seems to be rewritten or when it's necessary to clear up the contexts.)

I guess `destruct ...` and `destruct ... as [[? ?] | [? ?]] do the same thing practically. But It's convenient to na

[2015-06-04 02:52] jaewooklee93 commented on #142
I didn't use `Ltac` and I don't even know how to use it :)

For ?, refer to #102 (They're just wildcards.)

@Parkdaeyoung Without `[[? ?] | [? ?]]`, proof automation doesn't work. That's because we need to extract variables from `exists` before using `eauto`. Simple `destruct` doesn't extract variables.

[2015-06-04 02:54] AdamBJ commented on #142
For the next question, I solved for `BTrue` and `BFalse` and expected to see inductive hypotheses show up (since True and False make up the base cases, right?) but instead my context looked disappointingly empty:

[code]

Am I misunderstanding the definition of bexp? Where did the inductive hypotheses go?

[2015-06-04 02:59] jaewooklee93 commented on #142
Your goal is provable. `BEq a a0 = BTrue` and `BEq a a0 = BFalse` are obviously false, but the third one may work. In the viewpoint of `bexp`, `BEq` and `BLe` are also base cases because they don't contain another `bexp` inside. You will see your induction hypotheses in the cases of `BNot` and `BAnd`.

[2015-06-04 03:04] AdamBJ commented on #142
@jaewooklee93 So the `?` tell `destruct` to instantiate the `exists` in the hypothesis? Then I guess the middle `|` is to somehow deal with the `\/`. In the future then, if there is a hypothesis in the context with an `exists ... :` that I want to get rid of, then I should use destruct with `?`? And that makes more sense about bexp, thanks.

[2015-06-04 03:08] Parkdaeyoung commented on #142
@jaewooklee93 Thank you for the correction! But I think some trick can solve the problem.
`... ; destruct A ; inversion B ; ...` is equivalent to the pattern-version for this problem.

[2015-06-04 03:11] AdamBJ commented on #142
For proving `exists b' : bexp, BEq a a0 / st ==>b b'`

I have these three rules:

[code]

But how can I use them if I don't have any information about the way `a` or `a0` steps, or whether or not they're constants?

[2015-06-04 03:14] jaewooklee93 commented on #142
Basically, `destruct H as [? ?]` extracts `n` and `P(n)` from `H: exists n, P(n)` and `destruct H0 as [?|?]` splits two cases `Q` and `R` from `H0: Q \/ R`. But for these single `destruct` we don't have to specify patterns.

And then, for this case, we have `(exists n : nat, APlus a1 a2 = ANum n) \/
(exists a' : aexp, APlus a1 a2 / st ==>a a')`, simple `destruct` performs only splitting (because i

[2015-06-04 03:15] jaewooklee93 commented on #142
@AdamBJ You should use the previous one, `aexp_strong_progress`.

[2015-06-04 03:23] AdamBJ commented on #142
Well... now I can't figure out how to get the BS_Eqs working. We only have two aexps in the context, so how can I do something like `exists (BEq a a0')` that seems neccesary in order to get to a point where I can apply `aexp_strong_progress`?

[2015-06-04 03:27] AdamBJ commented on #142
Also, is there a way I can introduce `aexp_strong_progress` into the context?

[2015-06-04 03:30] Parkdaeyoung commented on #142
assert it.

[2015-06-04 03:31] jaewooklee93 commented on #142
`destruct (aexp_strong_progress st a).`

[2015-06-04 03:39] AdamBJ commented on #142
Can an `aexp` step to itself? I know it can multistep to itself (multi_refl), but how about some like `a / st ==>a a`?

[2015-06-04 03:52] jaewooklee93 commented on #142
No, `aexp` cannot step to itself

[2015-06-04 03:54] AdamBJ commented on #142
But it could muti step to itself, right? How come it can't step to itself?

[2015-06-04 05:34] jaewooklee93 commented on #142
Yes, but multi step is not a real step. By the way, this exercise has nothing to do with multi step.

[2015-06-04 05:55] jeehoonkang commented on #135
Submissions are collected.

[2015-06-04 05:55] jeehoonkang commented on #119
Delay submissions are collected.

[2015-06-04 08:21] rhs0266 commented on #142
I recommend use `assert (P1 := aexp_strong progress a1).`

[2015-06-04 09:05] egejjespersen opened #143 "Request of personal meeting with the TA"
Hello, @jeehoonkang !

When and where will it be possible to meet with you, to walk through my submitted assignments, and discuss the new assignment?

Regards,
Ege

[2015-06-04 09:14] egejjespersen opened #144 "Request of personal meeting with the TA"
Hello, @jeehoonkang !

When and where will it be possible to meet with you, to walk through my submitted assignments, and discuss the new assignment?

Regards,
Ege

[2015-06-05 13:18] sangholee12 opened #145 "Ltac pattern matching"
[code]

I have some problem in using Ltac pattern matching.
Under above context, applying "trans_to_rel_OK." succeeds,
but if applying "trans_to_rel_Fail.", it fails with the following message :
" Error: No matching clauses for match goal
       (use "Set Ltac Debug" for more info). "

Why do I have to write "= true," not just viewing the equality as a whole predicate?

[2015-06-06 04:53] AdamBJ commented on #142
@jaewooklee93 A multistep is a series of steps, right? By multi_refl some term x could step to x1, then x2.... then back to x. What isn't it possible for some term to step to itself as some kind of "identity step"? Is it just because we didn't define the language that way?

[2015-06-06 04:54] AdamBJ commented on #144
@jeehoonkang I'd also like to discuss one of my assignments with you Jeehoon.

[2015-06-06 11:30] jaewooklee93 commented on #142
Yes, `multi` is a series of steps with the length of 0,1,2, ... and so on. However, the thing like `x ==> x1 ==> x2 ==> ... ==> x` is impossible (at least for `astep` and `bstep`) because the step for `aexp` and `bexp` always make the expression simpler (the complexity is strictly decreasing) that's the reason of no cycles among steps, and `multi_refl` is totally not related to this fact.

Maybe t

[2015-06-07 01:54] AdamBJ commented on #142
Ok, thanks jaewook!

[2015-06-07 01:54] #142 closed

[2015-06-07 03:40] jeehoonkang commented on #145
Becuase `?P ?X` is `bool`, not `Prop`. I agree with you in that Coq is too strict to reject your `trans_to_rel_OK` tactic to work properly, but it is how Coq works, for now..

[2015-06-07 03:42] jeehoonkang commented on #144
- If you want to discuss things on graded assignments, please come to 301-554 Monday 13:00-16:00.
- @AdamBJ I heard your issue on some assignment questions; I will redirect your concern to Professor Hur.

[2015-06-07 03:42] jeehoonkang commented on #143
#144

[2015-06-07 03:42] #143 closed

[2015-06-07 03:42] jeehoonkang commented on #139
@AdamBJ @alkaza I discussed on this matter with Professor Hur, and he said he will manage the course load properly.

Jeehoon

[2015-06-07 03:43] #139 closed

[2015-06-07 09:35] AdamBJ opened #146 "Typechecker, A11_10"
For question A11_10:
 (** Write a type checking function [tyeq: tm -> ty -> bool].**)

Do we need to take into account the possibility of the typechecker function being passed badly typed input, eg ```tsucc ( ttrue)```?

[2015-06-07 15:10] jaewooklee93 commented on #146
Yes, otherwise, for example, if `t=tsucc (ttrue)` can satisfy `tycheck t T=true` with some `T`, the first correctness theorem below will imply `|- t \in T`, so that the theorem becomes unprovable. You should return `false` for every badly typed term.

[2015-06-08 03:19] AdamBJ commented on #146
That makes sense, thanks

[2015-06-08 03:19] #146 closed

[2015-06-08 12:17] AdamBJ opened #147 "Question about the final"
Will the final be explicitly cumulative? Eg will we be asked to do proofs similar to what we encountered prior to the midterm? Or can we safely on the content from Imp onwards? I understand if you can't answer this question completely, but can you please give some guidance regarding where we should focus our efforts in review?

[2015-06-09 10:56] AdamBJ opened #148 "Assignment 12"
When will the final assignment be issued? The sooner the better please.

[2015-06-10 04:35] AdamBJ commented on #136
Will the grader be released soon? Also, @jeehoonkang did you have a chance to talk to Professor Hur about the grading issue I told you about?

[2015-06-10 05:05] jeehoonkang commented on #148
Professor Hur said he will issue no later than tomorrow.

Jeehoon

[2015-06-10 05:06] jeehoonkang commented on #147
I think I am not in a position to answer your question; would you please ask @gilhur directly?

[2015-06-10 05:07] #144 closed

[2015-06-10 05:07] jeehoonkang commented on #136
Here is the grader: http://sf.snu.ac.kr/jeehoon.kang/pl2015/Assignment11_grader.zip

[2015-06-10 05:08] jeehoonkang commented on #136
@AdamBJ Yes I just asked Professor Hur, and the short answer is: no I cannot. Sorry.

[2015-06-10 05:11] jeehoonkang commented on #130
As discussed in the class, the final will be held at:
- 6/18 (Thu) 18:00-21:00
- Software Lab, 3rd floor, Bldg 301

[2015-06-10 05:11] #130 closed

[2015-06-10 19:47] woong8556 commented on #141
And I prefer

`intro H. inversion H.`

To be specific, I use the following often:

`apply update_neq; try intro Hx; try inversion Hx.`

[2015-06-12 00:14] jeehoonkang opened #149 "Assignment 12 Status"
Hi all,

- Assignment 12 is issued. Please see the [README](README.md) for more details.

- Please read [Homework.md](Homework.md#how-to-submit) to know how to fetch homework and submit your answer.
    + You have to run `./fetch-homework.sh` to get assignment 12.
    + Do your homework by editing `sf/Assignment12_??.v`.
    + Make sure `make` works without errors.
    + Commit and push to your Gi

[2015-06-12 12:51] AdamBJ opened #150 "Dealing with proofs involving complicated destructs"
I was looking at A08_15 and got stuck:

[code]

Obviously the Aplus case is the tricky bit. I know it will involve some combination of destruct... destruct.... rewrite.... omega... but I'm not sure the order I should apply these tactics. I seem to get lost no matter what I do and end up with 30 or so subgoals. What strategies can we use to approach goals like this one intelligently?

[2015-06-12 13:03] AdamBJ commented on #150
I got the answer by being as systematic as I could; destructing everything, then simpl, then reflexivity, then omega.... so I'm not looking for the answer. Just general strategies for this kinds of problems.

[2015-06-12 14:04] AdamBJ opened #151 "The ceval definitions"
How come I can apply E_Ass here:

[code]

But I can't apply E_Seq here:

[code]

Also, why can't I rewrite the goal below using ``` optimize_0plus_com_sound``` (the definition unfolds to
[code]
)
[code]

[2015-06-13 03:37] jaewooklee93 commented on #151
In order to `apply E_Ass`, the goal should have the following syntactic structure. (See the definition.)
`(x ::= a1) / st || (update st x n)`.  Does `constfold_0plus (x ::= a1) / st || update st x (aeval st a1)` have such form? Not exactly, but if you try `unfold constfold_0plus, fold_constants_com, optimize_0plus_com`, it reduces to that form and Coq just perform such unfolding internally.

Simil

[2015-06-13 06:19] AdamBJ commented on #149
Will you have office hours leading up to the exam?

[2015-06-13 06:30] AdamBJ commented on #149
Will we be given scrap paper to work out things like loop invariants on the exam?

[2015-06-13 06:37] AdamBJ commented on #151
Frustratingly, `apply optimize_0plus_com_sound` takes `optimize_0plus_com (fold_constants_com (c1;; c2)) / st || st'` to `optimize_0plus_com (optimize_0plus_com (fold_constants_com (c1;; c2))) / st
|| st'`

I guess this is just a case of Coq being dumb about what it applies the theorem too. Perhaps using `assert` I could get it to do what I want, but is there an easier way? There's no ->/<- for ap

[2015-06-13 06:55] jeehoonkang commented on #149
@adambj I am at Portland now.. may other TAs can help you, though.

[2015-06-13 07:34] jaewooklee93 commented on #151
Do you mean `apply` brings `(c1;; c2)` to `(IFB b THEN c1 ELSE c2 FI)`? I cannot imagine such cases.

For `cequiv`, if you use `sym_cequiv` and `trans_cequiv` lemmas properly, you can conveniently deal with `cexp` only using `apply`, as if you use `rewrite ->/<-`.

[2015-06-13 10:05] AdamBJ opened #152 "Stuck"
This seems provable, but I can't figure out how. Any ideas?

[code]

[2015-06-13 10:08] AdamBJ commented on #151
Sorry, I copied the wrong thing. I correct my post. Should have been ... takes it to `optimize_0plus_com (optimize_0plus_com (fold_constants_com (c1;; c2))) / st || st'`

[2015-06-13 10:09] AdamBJ commented on #149
@jeehoonkang Which other TAs? How can I get in contact with them?

[2015-06-13 11:10] jaewooklee93 commented on #152
[code]

satisfy the assumption but don't satisfy the goal, so it is a counterexample

[2015-06-13 11:17] jaewooklee93 commented on #151
Okay. I guess the following may work.

[code]

After unfolding, it becomes `<->` proposition, so `rewrite` works then.

But... Is it `Assignment08_19.v`? Then the best way to avoid such thing is just not to unfold `cequiv` from the beginning. #134

[2015-06-13 15:48] amityaffliction opened #153 "Question About Assignment12_06"
I know tloop is infinite so resulting x from tloop will also take step

I tried to prove directly but failed and tried to solve some properties with progress, stuck, preservation

after digging I got into this state. with these properties I tried to prove it

but keep stuck when (value x) in the context. will there be better approach then this??

or am I missing some lemma to assert to get to the

[2015-06-13 21:59] jaewooklee93 commented on #153
Well.. In the case of my solution, I didn't use any of `progress`, `stuck`, `preservation` concept, but I used one `remember` and very delicate `assert` twice.

[2015-06-14 01:33] amityaffliction commented on #153
Thank you for answering! could you give me little more informal intuition on the property that you asserted? I'm really stuck and can't make progress

[2015-06-14 02:20] jaewooklee93 commented on #153
Actually, informal idea of proof is devastingly trivial. The problem is how to represent that idea in Coq formally.

[Informal Proof]
Let `p = tapp tloop (tnat 0)`, there exist `q, r` such that `p ==> q ==> r ==> p`.
Thus, `p ==>* t` implies `t = p or q or r`. Therefore, `t` is not a normal form.

[2015-06-14 02:40] amityaffliction commented on #153
Oh!! so (tapp tloop (tnat 0)) has only few forms before getting back to original one and proving by existential quantification. I carelessly thought there would be so many of internal forms. proving this way is so clever! thank you

[2015-06-14 05:54] artberryx opened #154 "How can I prove 'deterministic step' cleverly?"
I think proving ```deterministic step``` (```step``` from ```MoreStlc``` chapter) directly is too complex...

Is there alternative way to prove ```deterministic step``` more cleverly? (using previously proven lemmas, etc ...)

[2015-06-14 08:07] jaewooklee93 commented on #154
This is my solution. You may be able to test this proof after copying it on `Assignment12_01.v` or other assignment files. (But it doesn't work on `MoreStlc.v` file itself, because operational semantic is not fully provided in that file. The professor filled it in our `Assignment12_00.v` file.)

[code]

I think the only dirty part in this proof is the pattern introduction after `induction H`, but

[2015-06-14 08:37] seohongpark commented on #154
Wow, I'm surprised that the automation in Coq is far more powerful than I thought. That's a wonderful solution. Thanks a lot!

[2015-06-14 08:48] amityaffliction commented on #153
When proving p ==>\* t implies t = p or q or r. trouble arise when p==>_t is in context.
it's easy to show "p multi steps to some t" but when it is in the context,
it seems unsolvable either by inversion or induction.
for example, when H: p ==> \* t, inversion/induction on H or t won't get any useful things..
I wonder if there is some tactics for coq to infer something from p ==>_ t ..
and is this

[2015-06-14 09:04] jaewooklee93 commented on #153
Yes, it is related to the `deterministic` property, or more precisely, the uniqueness of `q` and `r`. (If `q` is not unique, `p ==> t` doesn't implies `t = q`.) But I didn't directly prove or use the general `deterministic` Lemma itself. (It is truly overkill.) I only proved determinism for `p,q,r` using `assert`.

Well.. I agree that this problem is really difficult. As I mentioned above, _the re

[2015-06-14 09:34] #152 closed

[2015-06-14 09:56] AdamBJ commented on #134
I can't get trans_cequiv working right. Still stuck on the plus case. Given that this homework can't be handed in anymore, would you consider posting your solution?

[2015-06-14 10:03] jaewooklee93 commented on #134
Sure.

[code]

[2015-06-14 10:30] AdamBJ commented on #134
Wow, you weren't kidding that it was a simple answer!

[2015-06-14 10:31] AdamBJ commented on #134
Thanks for the help

[2015-06-15 04:34] jaewooklee93 commented on #134
Also, we learned much more automation recently. Thus, even single line solution can be.

[code]

[2015-06-15 05:31] minitu opened #155 "Final exam StlcProp and Typechecking"
Are StlcProp and Typechecking sections part of the final exam?
I believe they weren't covered in class, but I don't remember if professor Hur told us to read them.

[2015-06-15 07:22] rhs0266 opened #156 "Meaning of `eato 10`?"
At 12_05 assignment, I believe my `halve` is well-defined.

I passed
`Example halve_type: empty |- halve \in TArrow TNat TNat.
Proof.
  unfold halve; eauto 10.
Qed.`

`Example halve_10: tapp halve (tnat 10) ==>* tnat 5.
Proof.
  unfold halve; normalize.
Qed.`

`Example halve_11: tapp halve (tnat 11) ==>* tnat 5.
Proof.
  unfold halve; normalize.
Qed.`
All of those examples.

1. What is the meaning

[2015-06-15 07:49] jaewooklee93 commented on #156
`eauto` is basically searching for proof over tree. It has default search depth of 5. `eauto 10` specifies the search depth to be 10 to get much extensive search (but slower at the same time). There are rare cases simple `eauto` fails but `eauto 10` succeeds.

`normalize` is not an official tactic but author's custom tactic defined at the file `Types.v`

[code]

Now you may see the reason. The def

[2015-06-15 10:27] rhs0266 commented on #156
Wow...
I've never heard about existence of 'depth'...
Thank you very much

[2015-06-15 13:12] woong8556 commented on #156
For a simpler example, try the following:

`Example eauto10_example : 3<11.`
`Proof.`
`try eauto.`
`eauto 10.`
`Qed.`

[2015-06-15 13:47] amityaffliction commented on #153
After proving determinism, I tried to prove "p ==>\* t implies t = p or q or r" part,
but cant figure out what tactic should be used. inversion on p==>*t and following hypothesis will
 unfold infinitely and not exactly sure it is solvable with induction. I keep get not powerful Inductive Hypothesis. I think keep inversion on H and at some point, I should be able to prove within context that it cir

[2015-06-15 14:43] HyeongMee opened #157 "ASSINGMENT 10"
Hi!
1. I heard from professor that he had delayed the delay due of homework 10, 11, 12, but I can't find any official notice about that. Could you tell me where I can find a notice about it? (It's really delayed, right?)

2. What's the meaning of PAR .... END? paranthesis?

THANKS.......TT

[2015-06-15 17:13] rhs0266 commented on #153
I also found p, q, r. But how can prove `t=p or q or r`? I am trying to proof with `assert (t=p or t=q or t=z)`, but it is quite difficult assertion... Fall into the infinite circulation  @_@

[2015-06-16 02:17] jaewooklee93 commented on #157
`PAR c1 WITH c2 END` is a parallel execution. It means executing two programs `c1,c2` at the same time. However, you can't determine the execution order of two programs. For example, the parallel program

[code]

has multiple possible final results.
The following three cases are all feasible.

[code]

Assignment asked you to prove the existence of possibility of specific cases.

[2015-06-16 02:24] jaewooklee93 commented on #153
Yes.. I've also tried it with simple `induction`, but never succeeded.

With `remember`, you can define your own predicate like this.
`remember (fun n => exists k, n = 5 * k + 1) as P.`

And then you can use your predicate as invariant.
`assert (forall n m, m = n + 5 -> P n -> P m).`

[2015-06-16 07:22] alkaza opened #158 "Class June 16th"
Do we have a class today?

[2015-06-16 09:07] HyeongMee opened #159 "ASSINGMENT TYCHECK"
Hi !!
I am solving tycheck problem right now, and i have a question (I think professor explained sth about this but It totally slipped out of my mind TT)
tif (tpred n) (tiszero 5)(tiszero 3)  ->  it doesn't make sense, so should we have to return false for this? or can i just assume that there's no input like this for typechecking?
THANKS.

[2015-06-16 09:50] sanha commented on #154
Wow, Thank you!

[2015-06-16 10:10] #158 closed

[2015-06-16 10:42] jaewooklee93 commented on #159
#146

[2015-06-16 13:33] AdamBJ commented on #155
I'd also like to know the answer to this question.

[2015-06-16 13:34] #151 closed

[2015-06-16 13:38] AdamBJ opened #160 ""Gamma" in STLC"
Can someone help me better understand the concept of gamma as it applies to STLC? Here is what I understand: gamma is related to type, and somehow maps each of the variables in a term to a type which allows us to determine the overall type of the term. I'm a bit confused about the specifics of how it accomplishes this though. Also, I don't understand some of the auxiliary functions related to gamm

[2015-06-17 04:51] artberryx opened #161 "Is 'fix v' a value?"
In ```MoreStlc``` chapter, there isn't any mention of '```fix v``` can be a value',
but in ```Assignment12_00.v```, it says ```fix v``` can be a value when ```v``` is a value.

Can anybody explain which choice is right and why?

[2015-06-17 05:38] justlaugh05 commented on #160
Think of states in the previous chapters. extend would be like update. empty Gamma would be empty_state. Instead of holding values of variables, it holds the Types

[2015-06-17 07:19] #154 closed

[2015-06-17 09:16] AdamBJ opened #162 ""fix" syntax, STLC"
I think I understand the concept behind A12_05, but I can't get Coq to accept my definition of halve due to syntax errors. I couldn't see any examples in the book to base the syntax off of as none of them seems to use ```Definition```.

Could someone show me how to translate an informal definition of a function in STLC to a "Coq-approved" version? For example, how would I write the definition of t

[2015-06-17 09:46] egejjespersen opened #163 "Can we bring our laptop with preferred keyboard to the exam?"
Hello, @jeehoonkang !

Can we bring our laptop with preferred keyboard to the exam, just as we did to the mid-term?

Kind regards,
Ege

[2015-06-17 16:50] jeehoonkang commented on #163
Yes. But due to space limitation I may have to let only 4-5 people to take
exams in laptop.

2015-06-17 2:46 GMT-07:00 egejjespersen notifications@github.com:

##

Jeehoon Kang (Ph.D. student) http://sf.snu.ac.kr/jeehoon.kang
Software Foundations Laboratory http://sf.snu.ac.kr
Seoul National University http://www.snu.ac.kr

[2015-06-17 18:20] Parkdaeyoung commented on #163
I use Proof-general and I brought my lap-top on mid exam. May I bring one this time?

[2015-06-17 20:12] jaewooklee93 commented on #163
@jeehoonkang
When do we take the exam?

[2015-06-17 20:39] Parkdaeyoung commented on #163
@jaewooklee93 I guess that the exam will be on 6:00-9:00 p.m, today.

[2015-06-17 20:52] jeehoonkang commented on #163
today 1800-2100.
Take your laptops. But I cannot gurantee you can use..

[2015-06-18 00:25] jaewooklee93 commented on #162
Actually, MoreStlc didn't contain boolean value, so I used natural number 0 and 1, instead.

[code]

[2015-06-18 03:00] AdamBJ commented on #162
I actually wasn't able to get your definition working in Coq, I got this error:

[code]

For halve, Coq is telling me `Error: The reference x was not found in the current environment.`. Here's what I've got so far, can you help me understand what I'm doing wrong?

[code]

[2015-06-18 03:00] jaewooklee93 commented on #162
Sorry. I have to fix something

[2015-06-18 03:03] jaewooklee93 commented on #162
I think now it works if you copy my code to your `Assigment12_05.v` file.

[2015-06-18 03:04] AdamBJ commented on #162
Yes, it worked. What is the purpose of ``Definition eq := (Id 162).`?

[2015-06-18 03:08] jaewooklee93 commented on #162
To use a fixpoint recursive function, you have to reserve one name (id) for indicating the function itself.
But the name itself has no importance at all, so, in fact, you can substitute every `eq` into `Z`, which is another predefined id, in my definition of `equal`

162 is just the number of this issue #162. Nothing special.

In defining halve, professor already reserved one id, `Halve` and you c

[2015-06-18 03:11] AdamBJ commented on #162
Ok. I'm still having trouble with Coq saying x was not found in the current environment. Do you see anything obviously wrong with my definition of half (other than I should swap halve for eq)? Or is it just a missing bracket or something?

[2015-06-18 03:12] AdamBJ commented on #162
Also, I see in your definition that you use both `TNat` and `tnat`. What's the difference?

[2015-06-18 03:13] jaewooklee93 commented on #162
Your definition of `halve` has several problems.
1. `x -> X`
   `x` is not a predefined id, but `X` is.
2. `(TNat 0) -> (tnat 0)`
   `TNat` is the name of type and `tnat` is a constructor for `tm`.
3. There is no `TSum` thing in the definition of `MoreStlc`..
   But the thing you want to do is just plus 1, so you can use `tsucc` instead.

[2015-06-18 03:13] jaewooklee93 commented on #162
About `x` and `X`, you can refer to the last part for `Assignment12_00.v`.

[2015-06-18 03:15] AdamBJ commented on #162
Ok, so TNat is the name of the nat type in STLC and tnat is the constructor for nats in STLC?

[2015-06-18 03:17] jaewooklee93 commented on #162
Yes.

Also, actually, there are `TSum` and `TProd`, but they don't mean summation and product for natural numbers, they mean union and product among types, respectively.

[2015-06-18 03:19] AdamBJ commented on #162
Alright, seems to be working for the first three examples now. I'll get to work on the last one. Thanks!

[2015-06-18 03:20] AdamBJ commented on #162
Actually, what would we do if we need to add more than 1? Or if we needed to multiply something?

[2015-06-18 03:23] jaewooklee93 commented on #162
I re-read the defintion of tm and actaully there is `tmult` for natural number multiplication. But there is no `tsum`. I can't find the reason why. Maybe authors simply missed to write it into the code.

[2015-06-18 03:25] AdamBJ commented on #162
Ok. Working on the final example, for a subgoal like `value halve`, why can't we use something like `constructor` to solve? Functions are values in STLC, right?

[2015-06-18 03:31] jaewooklee93 commented on #162
Yes, but you have to use `constructor` twice. Because `halve` is not a simple function but a fixpoint function.

[2015-06-18 03:43] AdamBJ commented on #162
I tried `Print normalize` to see what happens in the earlier examples, but Coq says "Error: normalize not a defined object.". I've never seen this behavior before, how come I can't look up the definition?

[2015-06-18 03:47] AdamBJ commented on #162
Also, I guess I'm missing something obvious, but I can't see any ST_ step rules that deal explictly with tnat. How can I make progress on a goal like `tnat (n + n) ==> ?1959`?

[2015-06-18 03:48] jaewooklee93 commented on #161
I think, yes, every fixpoint function is a value, too. (like ordinary functions)

At least, we cannot evaluate without giving an argument to function. So `fix v` is value, given `v` is value.

However, I think our definition, professor gave, is somewhat weak. Because `value (tfix (tnat 0))` seems ill-typed, but we can prove it since `(tnat 0)` is value.

The reason there is no mention about `fix`

[2015-06-18 03:52] jaewooklee93 commented on #162
The definition of `normalize` is given in another file, #156. As the message says, it is not an object. It is a tactic, so we cannot print it, as we cannot `Print assert.`

`tnat (n+n) ==> ?1959` is unprovable because `tnat (n+n)` is value, so it is normal form and it cannot take any step.

[2015-06-18 03:59] AdamBJ commented on #162
Time to go back to the drawing board then... would it be useful to do induction on n in this question?

[2015-06-18 04:01] jaewooklee93 commented on #162
Yes, `induction n` is essential
I guess you used `constructor` in a wrong way. It is useful in many times, but sometimes it brings wrong constructor to apply, so it needs some caution.

I guess that `tnat (n+n) ==> ?1959` was also generated by wrong use of `econstructor`.

[2015-06-18 04:08] AdamBJ commented on #162
After doing some unfolding and induction I get to `tapp
  (tfix
     (tabs Halve (TArrow TNat TNat)
        (tabs X TNat
           (tif0 (tvar X) (tnat 0)
              (tif0 (tpred (tvar X)) (tnat 0)
                 (tsucc (tapp (tvar Halve) (tpred (tpred (tvar X))))))))))
  (tnat (S n + S n)) ==> ?2026`

My thinking is that there are three possible applications we might think of making here: `

[2015-06-18 04:10] seohongpark commented on #161
Thanks!
Additionally, I concluded that `fix v` can be a value because we adopt `ST_AppFix` rule in  `Assignment12_00.v`. Contrastively, if we adopt `ST_FixAbs` rule (`MoreStlc` version), I think we can make well-typed `fix v` always take a step. Also, It seems that the problem you mentioned can be resolved if we adopt the rule of `MoreStlc` version.

[2015-06-18 04:10] AdamBJ commented on #162
Aha! `apply ST_AppFix`!

[2015-06-18 04:13] AdamBJ commented on #162
Seems like this is going to take a lot of typing...

[2015-06-18 04:15] AdamBJ commented on #162
What is the meaning of the square bracket in next to Halve?

[code]

[2015-06-18 04:23] AdamBJ commented on #162
Oh, its for substitution... I'll keep thinking.

[2015-06-18 04:30] AdamBJ commented on #162
I've gotten it to here:

[code]

I've got to leave for SNU now, but if you could give me a hint I'd like to keep working on this question after my finals are done. Thanks!

[2015-06-18 04:58] jaewooklee93 commented on #161
Oh, I see. I agree with your opinion.

[2015-06-18 05:36] jaewooklee93 commented on #163
@Parkdaeyoung @jeehoonkang  Thank you.

[2015-06-19 07:56] jaewooklee93 commented on #162
Okay, my semester is now over and I am totally free.

[2015-06-19 09:00] AdamBJ commented on #162
Congratulations! Same for me. I'm debating whether or not to try and figure out the remaining questions in this homework. I'm thinking I probably won't.

As tough as this course was for me this semester, it would have been much harder without your help. Honestly, after the textbook you were the most important source of understanding for me  in this course, much more so than the TAs and even the le

[2015-06-19 09:00] #162 closed

[2015-06-19 09:26] #161 closed

[2015-06-21 07:48] alkaza commented on #149
Due when are the late submissions?

[2015-06-22 01:52] jeehoonkang commented on #149
I just heard that due was yesterday. I will collect in an hour.

[2015-06-22 03:09] jeehoonkang commented on #149
delay submissions are collected.

[2015-06-22 04:09] alkaza commented on #136
But for this assignment the delay due was the same as for Assignment 12, were the submissions collected?

[2015-06-22 04:11] jeehoonkang commented on #136
Sorry I omitted message: delay submissions are collected.

[2015-06-22 14:41] jaewooklee93 commented on #162
It's my great pleasure to hear that!
Have a great summer vacation!

[2015-06-23 03:55] #70 closed

[2015-06-23 03:57] jeehoonkang opened #164 "Attendance"
- https://docs.google.com/spreadsheets/d/1LzOLx22lF3N31D9RDS20Ec8ub_Rq6IA3utD8CNMk9CQ/edit#gid=613705988
- If you have been absent for 6 or more times, then data on your attendance may be inaccurate.
- If you have any question or claim, please let me know (via GitHub issue or pl2015@sf.snu.ac.kr) no later than 25th June (Thu) 18:00.

Jeehoon

[2015-06-23 04:46] jeehoonkang commented on #164
I am a reasonable man, so don't hit me a hard ball. Please be slightly more kind to me..

[2015-06-23 05:38] jeehoonkang opened #165 "Claim on Attendance, Assignment & Exam"
- Due: 25th June 2015 (Thu) 18:00
- Channel: pl2015@sf.snu.ac.kr
- Status
    + Attendance: #164
    + Assignment 1-5: https://docs.google.com/spreadsheets/d/1LzOLx22lF3N31D9RDS20Ec8ub_Rq6IA3utD8CNMk9CQ/edit#gid=1422302047
    + Assignment 6-12: to be announced
    + Midterm: https://docs.google.com/spreadsheets/d/1LzOLx22lF3N31D9RDS20Ec8ub_Rq6IA3utD8CNMk9CQ/edit#gid=1440146993
    + Final: to be

[2015-06-23 08:33] jeehoonkang commented on #165
Results of Assignments 6-8 are announced.

[2015-06-23 08:39] jaewooklee93 commented on #165
What's wrong with my assignment 7-1?

[2015-06-23 08:51] jeehoonkang commented on #165
@jaewooklee93 I will look at it no later than today.

[2015-06-23 09:09] fortunist commented on #165
What does the (CHECK) mean?
Would you review my assignment 6-7?

[2015-06-23 09:29] seohongpark commented on #165
Would you please check my Assignment08_05?

[2015-06-23 09:41] hyunjinjeong commented on #165
8th file of my midterm exam has compile error.
But I didn't use lemma defined in other files. I just didn't write 'Qed' of one problem after proof.
And my file is good in coqIDE.
Is it impossible to get some score about it? I proved two problems in the file.

[2015-06-23 12:05] woong8556 commented on #165
Please review my assignment 7 too. They can't be missing.

Also I think I have to visit you regarding my Assignment3,4 to look at what went wrong.

[2015-06-23 12:51] wonook commented on #165
The exam scores are going to be `max(midterm + final, 2*final)` right? Just to be sure.

[2015-06-23 12:57] jeehoonkang commented on #165
- I will review the following submissions:
@jaewooklee93 7-1
@fortunist 6-7
@artberryx 8-5
@woong8556 7-?

- @Hyunjin95
    + Gil and I reviewed your case, and we decided to change your source code and re-evaluate.
    + The new result is: `0(CHECK)`, which means that your definition is wrong.

- @wonook Yes.

[2015-06-23 14:11] jeehoonkang commented on #165
- Results of all assignments are announced.
- Those who claimed on the assignments: sorry I could not review your claims. I will do tomorrow..

[2015-06-23 14:25] jeehoonkang commented on #165
Final exam result is announced.

[2015-06-23 15:12] dormant09 commented on #165
Please review my assignment 7-1. I guess there is the same issue with @jaewooklee93.

[2015-06-23 17:40] woong8556 commented on #164
I want to visit you with the attendance. May I email you, or can I ask you here?
Thanks.

[2015-06-23 18:21] SungMinCho commented on #165
For problem 1, I even proved that my definition is the weakest precondition as "Theorem test" in the same file. I completed the proof, and i don't understand how the proof could have been completed if my definition was wrong. Please check about that.

[2015-06-23 23:28] jeehoonkang commented on #164
@woong8556
- Any channel you want.
- But personally I prefer GitHub issue; if your matter is not personal, please do so.

Jeehoon

[2015-06-23 23:32] jeehoonkang commented on #165
I claim that all claims are either answered or acknowledged in the comment above. If not, please let me know once more.

[2015-06-24 00:44] jeehoonkang commented on #165
All claims are answered.

[2015-06-24 01:27] rhs0266 commented on #165
I used lemmas which is proved at 06_07 in 06_08, since I was not adapted new submit format.
Definitely, I passed 06_grader also. I can prove it through my comment in #69 !
Would you consider this problem and adjust it?
And also if you don't mind please check my 10_10 and 11_05?
Thank you.

[2015-06-24 02:13] amoretspero commented on #165
I think I have used ADMIT on few problems, not on every problem except Prob1 in Final exam. I thought that there would be some score for first half of prob2, prob5 and some more. Or did I just left Prob2~Prob8 untouched? Please check about these.

[2015-06-24 02:21] jeehoonkang commented on #165
All claims are answered so far.

[2015-06-24 03:07] amityaffliction commented on #165
there is problem with my Assignment08_05. it runs well on coqide but it says i got 0 points

[2015-06-24 03:18] rhs0266 commented on #165
![image](https://cloud.githubusercontent.com/assets/8068838/8322098/0091c258-1a6b-11e5-976b-2b4b6811bf80.png)

I thought this message meaning that I passed it. What's this meaning?

[2015-06-24 04:04] seohongpark commented on #165
In Assignment08_05, I can't guess why compilation error happens, because I explicitly mentioned the variable l0 in my proof...
Additionally, it seems my proof runs well in my CoqIde 8.4.

[2015-06-24 04:31] fortunist commented on #165
I had changed a example code of Assignment 6-7
from
<code>Example test_nostutter_1:      nostutter [3;1;4;1;5;6].</code>
to
<code>Example test_nostutter_1:      nostutter [1; 2; 3; 4; 5; 6; 7; 8; 9; 0].</code>
to check my definition of nostutter and I forgot to restore the original one.

My definition of nostutter works well with the original one <code>nostutter [3;1;4;1;5;6].</code>
Could I get s

[2015-06-25 03:39] jeehoonkang opened #166 "Model Solution for Final"
is at: https://github.com/snu-sf/pl2015/blob/master/final_sol.v

[2015-06-25 03:43] jeehoonkang commented on #165
@fortunist
- I understand you fully understood the material and solved the problem well.
- But for grading, I cannot make an exception; `test_nostutter_1` is a part of the problem.

[2015-06-25 03:47] jeehoonkang commented on #165
@rhs0266
- I am not sure why your environment did not reject your submission.
- But even so, I believe it is better not to make an exception; sorry.

[2015-06-25 03:50] jeehoonkang commented on #165
For 8-5:

@amityaffliction's solution got compile error:

[code]

@amityaffliction @artberryx I suspect your solutions are not compiled well since your were working on a previous version of `s_execute`.

[2015-06-25 04:02] jeehoonkang opened #167 "Rebuttal for Copy"
- We ran the clone checker for your submissions, and got some clones.
- I personally SMS'ed to those who are suspected to clone.
- For rebuttal, contact gil.hur@sf.snu.ac.kr ASAP (hopefully today).

Jeehoon

[2015-06-25 04:10] alkaza commented on #167
Could I be notified which submission was copied?

[2015-06-25 04:11] jeehoonkang commented on #167
@alkaza No. But you can personally contact Professor Hur.

[2015-06-25 04:15] alkaza commented on #167
That I did, thanks

[2015-06-25 04:24] seohongpark commented on #165
I'm sorry for your inconvenience, but I don't think so...
To make sure of it, I copied and pasted `Assignment08_00.v` (recent version : https://github.com/snu-sf/pl2015/blob/master/sf/Assignment08_00.v) and my `Assignment08_05.v` in `Imp.v`, but I think my proof still compiles and works well.
This is what I copied from `Assignment08_00.v` and `Assignment08_05.v` : http://ideone.com/DyVPfW

[2015-06-25 04:53] amityaffliction commented on #165
Im pretty sure i did on right version of s execute. I wish i could go to 302 but i cant make it today. It works on coqide on right assignment8 00.v file could you please check once more on coqide im sorry.

[2015-06-25 05:32] jeehoonkang commented on #165
@artberryx @amityaffliction I manually inspected your codes in other machines, and realized that your solutions work in that case. I updated your scores.

Sorry for inconvenience.

[2015-06-25 06:22] jaewooklee93 commented on #165
I think my `Assignment08_05.v` has no problem, but score was taken off.
Could you check it again?

[2015-06-25 07:54] jeehoonkang commented on #165
@jaewooklee93 acknowledged & updated.

[2015-06-25 08:11] fortunist commented on #165
Why is my score of assignment 8-5 10 of 20? I think there is no fault.

[2015-06-25 10:44] jeehoonkang commented on #165
@fortunist I updated your score.

[2015-06-25 10:44] jeehoonkang commented on #165
I regraded 6-8.

[2015-06-25 10:44] jeehoonkang commented on #165
Now no more claims will be acknowledged.

[2015-06-25 11:36] woong8556 commented on #164
I prefer visiting you. Can I make it tomorrow?

[2015-06-25 11:49] jeehoonkang commented on #164
@woong8556 Ah.. unfortunately, we closed out about 2.8 hours ago. Sorry!

[2015-06-25 12:03] woong8556 commented on #164
Hmm... I was very busy until now.. sorry to hear that..

[2015-11-02 11:42] jeehoonkang opened #168 "The repository is moved to: github.com/snu-sf-class/pl2015spring"

[2019-11-12 16:21] #155 closed

[2019-11-12 16:22] #137 closed

[2021-01-06 05:44] #88 closed

[2021-01-06 05:45] #129 closed